<a href="https://colab.research.google.com/github/Adedebbie/wbs-training/blob/main/Copy_of_1_numbers_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2 + 2

4

In [ ]:
"2" + "2"

'22'

In [1]:
result = 4 + 3

At any point, we can retrieve whatever we stored in a variable by using its name:

In [2]:
# https://cs.stanford.edu/people/nick/py/python-print.html

print(result)

7

In [ ]:
# https://www.programiz.com/python-programming/methods/built-in/type

type(result)

int

###### **Exercise 1:**
add `100` and `3.4`. Assign it to the variable `addition`. Print the type of that variable.

In [ ]:
addition = 100 + 3.4
print(type(addition))

<class 'float'>

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

In [ ]:
True + True

2

In [ ]:
False + False

0

In [ ]:
type(-8)

int

###### **Exercise 2:**
assign the number corresponding to the present year to the variable `year` and your age to the variable `age`. Operate with both variables to create a new variable called `birth_year`.

In [ ]:
year = 2022
age = 31
birth_year = 1990

You can update the value of a variable like this:

In [ ]:
age = 30
age = age + 1
print(age)

31

Or you can get the same output by combining both arithmetic operators like this:

In [ ]:
age = 30
age += 1
print(age)

31

The same holds for other mathmatical operators

###### **Exercise 3:**
create a variable called `price` with the value `100`. Then update its value in a single line by multiplying it by `2`.

In [3]:
price = 100
price = 100 * 2

In [ ]:
# https://www.w3schools.com/python/ref_func_int.asp

int(3.14)

3

In [ ]:
int("4")

4

In [ ]:
int("Hey hey hey")

ValueError: ignored

## Floats

Floats are numbers with decimal places

In [ ]:
3.

3.0

They can include the letter e for an exponent:

In [ ]:
3e2

300.0

The function `float()` can be used to convert integers to floats:

In [ ]:
float(24)

24.0

###### **Exercise 4:**
calculate how many seconds are there in a year. Store that number in a variable called `year_seconds`.

In [ ]:
year_seconds = 86400 * 365
print(year_seconds)

31536000

In [ ]:
life_seconds = year_seconds * age
print(life_seconds)

977616000

###### **Exercise 6:**
calculate how many seconds you'll spend in this bootcamp. Store it into a variable called `bootcamp`.

In [ ]:
bootcamp = year_seconds / 2
print(bootcamp)

15768000.0

###### **Exercise 7:**
calculate what percentage of your life you will spend on this bootcamp.

In [ ]:
bootcamp / life_seconds * 100

1.6129032258064515

## Text Strings

You will use text just as much as numbers when programming. Strings are created with either single quotes `'` or double quotes `"`:

In [ ]:
print("A string with double quotes")

print('A string with single quotes')

A string with double quotes
A string with single quotes

In [ ]:
print("The name of our school is 'WBS CODING SCHOOL', which can be abbreviated to 'WBSCS'")

print('The name of our school is "WBS CODING SCHOOL", which can be abbreviated to "WBSCS"')

The name of our school is 'WBS CODING SCHOOL', which can be abbreviated to 'WBSCS'
The name of our school is "WBS CODING SCHOOL", which can be abbreviated to "WBSCS"

In [ ]:
poem = """Hold fast to dreams
For if dreams die
Life is a broken-winged bird
That cannot fly.
Hold fast to dreams
For when dreams go
Life is a barren field
Frozen with snow."""

print(poem)

Hold fast to dreams
For if dreams die
Life is a broken-winged bird
That cannot fly.
Hold fast to dreams
For when dreams go
Life is a barren field
Frozen with snow.

You can create a string out of another data type with `str()`:

In [ ]:
# https://www.w3schools.com/python/ref_func_str.asp

str_88 = str(88)
print(str_88)

88

In [ ]:
type(str_88)

str

In [ ]:
print("This is the first line\nAnd this is the second one.")

This is the first line
And this is the second one.

In [ ]:
print("Before the tab\tAnd after the tab.")

Before the tab	And after the tab.

Similarly, you can escape quotes by using `\`:

In [ ]:
fact = "The world's largest rubber duck was 54'2\" by 67'7\" by 105'"
print(fact)

The world's largest rubber duck was 54'2" by 67'7" by 105'

If you need to use a backslash inside your string, you type `\\`: the first backslash escapes the second one:

In [ ]:
print("Please contemplate a single, one —and only one— backslash: \\")

Please contemplate a single, one —and only one— backslash: \

By typing `r` before the quotes, we denote a string as a _raw string_, which will ignore any special meaning:

In [ ]:
raw_str = r"This will not create a new line \n and here we will see two backslashes \\"
print(raw_str)

This will not create a new line \n and here we will see two backslashes \\

You can combine strings using `+` and multiply them with `*`:

In [5]:
print("Data " + "Science")

Data Science

In [4]:
print("Data "*10)

Data Data Data Data Data Data Data Data Data Data

In [ ]:
letters = "abcdefghijklmnopqrstuvwxyz"

letters[0]

'a'

In [ ]:
letters[2]

'c'

In [ ]:
letters[-1]

'z'

In [ ]:
letters [-4]

'w'

You can _slice_ a string using `[start:end]`. Note that the start is inclusive, but the end is not:

In [ ]:
letters[1:5]

'bcde'

If you don't specify the start, the slice will start at the beginning of the string. Same goes for the end:

In [ ]:
letters[:4]

'abcd'

In [ ]:
letters[4:]

'efghijklmnopqrstuvwxyz'

Counting how many characters are there in a string can be done with `len()`:

In [ ]:
# https://www.w3schools.com/python/ref_func_len.asp

len(letters)

26

In [ ]:
jobs = "Data Scientist, Data Analyst, Data Engineer, Business Analyst, Marketing Analyst, Analytics Consultant"

In [ ]:
jobs

'Data Scientist, Data Analyst, Data Engineer, Business Analyst, Marketing Analyst, Analytics Consultant'

In [ ]:
# https://www.w3schools.com/python/ref_string_split.asp

jobs.split(",")

['Data Scientist',
 ' Data Analyst',
 ' Data Engineer',
 ' Business Analyst',
 ' Marketing Analyst',
 ' Analytics Consultant']

You can substitute a character using `replace()`:

In [ ]:
# https://www.w3schools.com/python/ref_string_replace.asp

jobs.replace("Data", "Duck")

'Duck Scientist, Duck Analyst, Duck Engineer, Business Analyst, Marketing Analyst, Analytics Consultant'

You can specify how many times do you want to make that replacement:

In [ ]:
jobs.replace("Data", "Duck", 2)

'Duck Scientist, Duck Analyst, Data Engineer, Business Analyst, Marketing Analyst, Analytics Consultant'

A very common process in data cleaning is to remove preceeding and trailing spaces from strings. The function `strip()` does exactly that:

In [ ]:
wow = "                     wow                     "
print(wow)

                     wow

In [ ]:
# https://www.w3schools.com/python/ref_string_strip.asp

wow.strip()

'wow'

There are many more string methods in Python. Browse through them here: https://www.w3schools.com/python/python_ref_string.asp 

About 99.9% of the time, coding does not mean memorizing functions and knowing them off by heart, but being quick in finding the function you need, discovering how to use them, reading the documentation, or simply adapting coding examples from the internet to meet your needs. 

In the exercises below, you will have to use several Python string methods, in combination with what you've learned here. Use the link from _w3schools_ or Google around to complete them.

###### **Exercise 8:**
create a Python string with the following text, and assign it to the variable `data_science`:

Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains. 

Data science is related to data mining, machine learning and big data. Data science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data. It uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is different from computer science and information science. Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.

In [ ]:
data_science = """Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights
from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application
domains.\nData science is related to data mining, machine learning and big data. Data science is a "concept to unify statistics, data analysis, informatics, 
and their related methods" in order to "understand and analyze actual phenomena" with data. It uses techniques and theories drawn from many 
fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is 
different from computer science and information science. 'Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of 
science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the 
impact of information technology" and the data deluge."""

print(data_science)

Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights
from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application
domains.
Data science is related to data mining, machine learning and big data. Data science is a "concept to unify statistics, data analysis, informatics,
and their related methods" in order to "understand and analyze actual phenomena" with data. It uses techniques and theories drawn from many
fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is
different from computer science and information science. 'Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of
science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the
impact of information technology" and the data deluge.

###### **Exercise 9:**
how many characters are there in `data_science`?

In [ ]:
len(data_science)

1047

###### **Exercise 10:**
convert all of `data_science` to lower case.

In [ ]:
ds = data_science.casefold()
print(ds)

data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights
from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application
domains.
data science is related to data mining, machine learning and big data. data science is a "concept to unify statistics, data analysis, informatics,
and their related methods" in order to "understand and analyze actual phenomena" with data. it uses techniques and theories drawn from many
fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. however, data science is
different from computer science and information science. 'turing award winner jim gray imagined data science as a "fourth paradigm" of
science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the
impact of information technology" and the data deluge.

###### **Exercise 11:**
how many times does the word "data" appear in the string you converted to lower case?

In [ ]:
ds = data_science.count("data")
print(ds)

10

###### **Exercise 12:**
separate the string into sentences, splitting it whenever there is a fullstop (`.`).

In [ ]:
data_science.split('.')

['Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights\nfrom noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application\ndomains',
 '\nData science is related to data mining, machine learning and big data',
 ' Data science is a "concept to unify statistics, data analysis, informatics, \nand their related methods" in order to "understand and analyze actual phenomena" with data',
 ' It uses techniques and theories drawn from many \nfields within the context of mathematics, statistics, computer science, information science, and domain knowledge',
 ' However, data science is \ndifferent from computer science and information science',
 ' \'Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of \nscience (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the \nimpact of information technology" and the data deluge',
 '']

###### **Exercise 13:**
capitalise the first letter of every word in the string.

In [ ]:
ds = data_science.title()
print(ds)

Data Science Is An Interdisciplinary Field That Uses Scientific Methods, Processes, Algorithms And Systems To Extract Knowledge And Insights
From Noisy, Structured And Unstructured Data, And Apply Knowledge And Actionable Insights From Data Across A Broad Range Of Application
Domains.
Data Science Is Related To Data Mining, Machine Learning And Big Data. Data Science Is A "Concept To Unify Statistics, Data Analysis, Informatics,
And Their Related Methods" In Order To "Understand And Analyze Actual Phenomena" With Data. It Uses Techniques And Theories Drawn From Many
Fields Within The Context Of Mathematics, Statistics, Computer Science, Information Science, And Domain Knowledge. However, Data Science Is
Different From Computer Science And Information Science. 'Turing Award Winner Jim Gray Imagined Data Science As A "Fourth Paradigm" Of
Science (Empirical, Theoretical, Computational, And Now Data-Driven) And Asserted That "Everything About Science Is Changing Because Of The
Impact Of Information Technology" And The Data Deluge.

###### **Exercise 14:**
find the index of the word "Turing" in the string.

In [ ]:
ds = data_science.index('Turing')
print(ds)

774

## Formatting with f-strings

Strings can be concatenated with `+`. Sometimes, you need to [_interpolate_](https://en.wikipedia.org/wiki/String_interpolation) values into strings. 

Say you work for a logistics company and have a script that calculates the number of trucks that should be made ready for the next day. You want this number to be included in the sentence of an email: `"For tomorrow, we will need x trucks."` But replacing x with the number of trucks, which will vary each day.

This task is known as formatting strings. It can be confusing to learn this by just browsing the internet because there are many ways to format strings in Python: the old one (using `%`), the new one (using `{}`and `format()`) and the newest one (using `f-strings`).

We will only show you how to use f-strings, but be ready to stumble into the other ones at any time!

In [ ]:
n_trucks = 73

email = f"For tomorrow, we will need {n_trucks} trucks."

print(email)

For tomorrow, we will need 73 trucks.

The curly brackets support expressions like these:

In [ ]:
place = "main garage"

email = f"For tomorrow, we will need {n_trucks+10} trucks in the {place.title()}."

print(email)

For tomorrow, we will need 83 trucks in the Main Garage.

###### **Exercise 15:**
convert the `data_science` string from the previous exercise into an f-string, replacing the name "Jim Gray" with the variable `jim`:

In [ ]:
jim = "James Nicholas Gray"

In [ ]:
jim = "James Nicholas Gray"
data_science = f"""Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights
from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application
domains.\nData science is related to data mining, machine learning and big data. Data science is a "concept to unify statistics, data analysis, informatics, 
and their related methods" in order to "understand and analyze actual phenomena" with data. It uses techniques and theories drawn from many 
fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is 
different from computer science and information science. 'Turing Award winner {jim} imagined data science as a "fourth paradigm" of 
science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the 
impact of information technology" and the data deluge."""
print(data_science)

Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights
from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application
domains.
Data science is related to data mining, machine learning and big data. Data science is a "concept to unify statistics, data analysis, informatics,
and their related methods" in order to "understand and analyze actual phenomena" with data. It uses techniques and theories drawn from many
fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is
different from computer science and information science. 'Turing Award winner James Nicholas Gray imagined data science as a "fourth paradigm" of
science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the
impact of information technology" and the data deluge.