<a href="https://colab.research.google.com/github/Adedebbie/wbs-training/blob/main/Copy_of_3_7_category_creation_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Searching for the category

For this code along we are only going to use the products DataFrame, however, if you believe there is information in other tables that can help to create categories, please, feel free to explore.

In [2]:
import pandas as pd

In [3]:
# products_cl.csv
url = "https://drive.google.com/file/d/1s7Lai4NSlsYjGEPg1QSOUJobNYVsZBOJ/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
products_cl = pd.read_csv(path)

In [4]:
product_category_df = products_cl.copy()

In [5]:
product_category_df.head()

,sku,name,desc,price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,1,1364

## 1.&nbsp; Category creation by search term
Let's start by creating a column `category`. For now we'll fill this column with a blank string `""`.

In [6]:
product_category_df["category"] = ""
product_category_df.head()

,sku,name,desc,price,in_stock,type,category
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,1,8696,
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,0,13855401,
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,0,1387,
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,0,1230,
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,1,1364,

We can find all the products with certain words in their `description` using `.loc[]` and `.str.contains()`. Here we'll look at all the items that have the word `keyboard` in their description.

In [268]:
#product_category_df.loc[product_category_df.desc.str.lower().str.contains("keyboard"), :]
product_category_df.loc[product_category_df.name.str.lower().str.contains("apple"), :]

,sku,name,desc,price,in_stock,type
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,0,1230
5,APP0073,Apple Composite AV Cable iPhone and iPod white,IPhone and iPod AV Cable Dock to Composite Video.,45.00,0,1230
9,APP0100,Apple Adapter Mini Display Port to VGA,Adapter Mini Display Port to VGA MacBook and MacBook Pro (unibody).,35.00,0,1325
...,...,...,...,...,...,...
9972,AP20649,Like new - Apple Leather Case iPhone Case 8/7 Black,Reconditioned sleeve leather and microfiber Apple iPhone,55.00,0,11865403
9974,AP20474,Like new - Apple Watch GPS 38mm Case Series 3 Aluminum Space Gray and Black Belt Sport,Reconditioned Apple Watch 38mm series 3 with GPS altimeter and submersible,369.00,0,24885185
9977,AP20471,Apple Thunderbolt to FireWire 800 adapter,Reconditioned connection adapter Thunderbolt to Firewire 800.,35.00,0,1325
9980,AP20472,Like new - Apple charging cable 2m USB-C,Apple USB-C Cable 2 meters Refurbished MacBook,25.00,0,1325
9987,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horizontally for Apple Watch,29.99,1,12282

Next we change the value in the category column to `keyboard` for all of these keyboard products.

In [269]:
product_category_df.loc[product_category_df.desc.str.lower().str.contains("keyboard"), "category"] = "keyboard"
#product_category_df.loc[product_category_df.desc.str.lower().str.contains("keyboard"), "category"] = "keyboard"

Let's take a look at the affect that had on the `category` column.

In [9]:
product_category_df.category.value_counts()

            9903
keyboard      89
Name: category, dtype: int64

## 2.&nbsp; Category creation using regex
We can also use a products `name` to select products for our categories.

In [ ]:
product_category_df.loc[product_category_df.name.str.lower().str.contains("apple iphone"), :]

Looks like we get a lot of accessories included in this search. We can refine this using a little regex. Here we will add `.{0,7}` at the beginning of the search: this means we will find all `apple iphone`'s that have 7 or less characters preceding the term "apple iphone" - if there's 8 characters preceding the search term, it won't be found. This should help refine our search by using the nomenclature of the DataFrame to our advantage.

If you feel unsure about regex, please use [regex101](https://regex101.com/). It's really useful for checking your code, and parts of other peoples code that you're unsure about.

In [ ]:
product_category_df.loc[product_category_df.name.str.lower().str.contains("^.{0,7}apple iphone"), :]

Now we can use the same trick as before to set the category - selecting the `category` column and setting it to our string of choice.

In [ ]:
product_category_df.loc[product_category_df.name.str.lower().str.contains("^.{0,7}apple iphone"), "category"] = "smartphone"

In [ ]:
product_category_df.category.value_counts()

## 3.&nbsp; One product with multiple categories
A product may fit into multiple categories. To help us create multiple categories for one product we will use the python addition assignment `+=`. The addition assignment is a shorthand way to add something (number, string, etc...) to a variable without changing the variable name. 

Let's have a look at a couple of examples.

In [ ]:
a = 10
a = a + 5
a

In [ ]:
a = 10
a += 5
a

In [ ]:
b = "Tyrannosaurus"
b = b + " rex"
b

In [ ]:
b = "Tyrannosaurus"
b += " rex"
b

Now let's look at how this can help us in our category creation.

First, we'll reset all the values in the category column to an empty string `""`.

In [10]:
product_category_df["category"] = ""

Now, let's create some categories and utilise the addition assignment.

In [11]:
product_category_df.loc[product_category_df.desc.str.lower().str.contains("keyboard"), "category"] += ", keyboard"
product_category_df.loc[product_category_df.name.str.lower().str.contains("^.{0,7}apple iphone"), "category"] += ", smartphone"
product_category_df.loc[product_category_df.name.str.lower().str.contains("^.{0,7}apple ipod"), "category"] += ", ipod"
product_category_df.loc[product_category_df.name.str.lower().str.contains("^.{0,7}apple ipad|tablet"), "category"] += ", tablet"
product_category_df.loc[product_category_df.name.str.lower().str.contains("imac|mac mini|mac pro"), "category"] += ", desktop"

In [ ]:
product_category_df.category.value_counts()

As you can see, some products now have 2 categories instead of just one. At the end you can use your skills with string to tidy up the opening comma and space in the categories column.

# Challenge. Your categories
Now it's your turn. We'll reset the Dataframe so that no categories exist, and it's up to you to create the categories based on keywords in the name and description. Feel free to go wild and make as many categories as you like.
* Remember you can also use regex to refine your searches.
* Remember you can use the or operator `|` to search for multiple terms at once.
* Remember to tidy up any untidy strings at the end.

In [278]:
# your code here


product_category_df = products_cl.copy()

In [303]:
product_category_df["category"] = ""

In [306]:
product_category_df.category.value_counts()

                    5438
, apple products    4554
Name: category, dtype: int64

In [305]:
product_category_df.loc[product_category_df.name.str.lower().str.contains("imac|mac mini|mac pro|apple|iphone|ipod|retina|watch|airpods"), "category"] += ", apple products"

## 4.&nbsp; [BONUS] Using `type` to create categories
There could be another way to create categories, but this one you'll have to explore this one alone.

We have the mysterious column `type` in the `products` table. This could potentially be ready made categories labelled with numbers instead of words. Let's have an investigate.

In [6]:
category_type_df = products_cl.copy()

Here are the `type`'s that have the most products.

In [271]:
category_type_df.groupby("type").count().nsmallest(5, "sku")

           sku  name  desc  price  in_stock  category
type
113464259    1     1     1      1         1         1
11434        1     1     1      1         1         1
12282        1     1     1      1         1         1
21622158     1     1     1      1         1         1
5,45E+15     1     1     1      1         1         1

Let's have a look at the first `type` to see if we can make categories from this column.

In [71]:
category_type_df.loc[category_type_df["type"] == "11865403", :].sample(10)

,sku,name,desc,price,in_stock,type
8909,BEL0323,Belkin iPhone Case SheerForce 8 Plus / 7 Plus ...,Case against impact and wear resistant materia...,24.99,1,11865403
8229,SPE0197,IPhone Case Speck Presidio Show 8/7 / 6s / 6 C...,Protective cover with anti-impact polycarbonat...,24.95,1,11865403
5216,APP1686,Apple Leather Case iPhone Case 7 Black Storm,ultrathin leather case and microfiber premium ...,55.00,0,11865403
5144,MUJ0023,Mujjo Leather Leather iPhone Case 8 Plus / 7 P...,ultrafine material cover with vegetable tanned...,44.90,0,11865403
6778,APP1998,Apple iPhone Silicone Case Case 7 Black Pebble,Ultrathin silicone case and microfiber premium...,39.00,0,11865403
8714,APP1673-A,Open - Apple iPhone Silicone Case Cover Red 8/7,Ultrathin silicone case and microfiber premium...,39.00,0,11865403
5227,APP1694,Apple iPhone Leather Case Cover 7 Brown Candy ...,ultrathin leather case and microfiber premium ...,59.00,0,11865403
1064,MOS0126,Moshi iGlaze Case for iPhone 6 / 6S Black,Rigid shell shock protection and rasguÌ ± os f...,30.00,0,11865403
5461,GRT0345,Griffin Reveal Case Black iPhone 6 Plus,resistant pouch with transparent backside for ...,19.99,0,11865403
9038,NOM0027,Nomad Leather Folio Case iPhone Brown leather X,Leather Case cover high quality microfiber int...,49.99,1,11865403

Looks like this is a category of phone cases.

Let's have a look at the 2nd largest type to see if that's also a clear category.

In [139]:
category_type_df.loc[category_type_df["type"] == "12175397", :].sample(10)

,sku,name,desc,price,in_stock,type,category
3386,PAC1662,QNAP TS-453A | 4GB RAM | 32TB (4x8TB) WD Red,NAS TS-453A with 4GB of RAM Memory Hard + 32TB (4x8TB) Network WD Drive for Mac and PC,1965.99,0,12175397,Server
3380,PAC1341,Pack QNAP TS-453A | 8GB RAM | WD 12TB Network,QNAP NAS with 12TB + 8GB RAM memory (4x3TB) Network WD Hard Drive for Mac and PC,1216.59,0,12175397,Server
6019,PAC1710,Pack QNAP TS-451A 2GB NAS server 40TB (4x10TB) Seagate Iron Wolf,NAS with 2GB of RAM and 40TB (4x10TB) Seagate IronWolf for Mac and PC,2046.95,1,12175397,Server
5922,PAC1741,QNAP TS-131p | 3TB (1x3TB) Seagate IronWolf,Nas Seagate 3TB capable IronWolf for Mac and PC,306.98,0,12175397,Server
5966,QNA0190,QNAP TVS-871U-RP NAS Server | Core i5 | 8GB RAM redundant source,NAS system format rack 8 bays and 8GB RAM,2418.79,0,12175397,Server
7073,PAC1965,Synology DS1817 + | 2GB RAM | 64TB (8x8TB) WD Red,NAS server with 2GB of RAM and 64GB for Mac and PC,3850.89,0,12175397,Server
8561,PAC2323,Synology DS718 + NAS Server | 2GB RAM | 24TB (2x12TB) Seagate Iron Wolf,Scalable NAS server with transcoding 4K: 4-core 2.3 GHz 2GB DDR3L 226MB / s read and 184 MB / s write,1459.97,0,12175397,Server
4406,PAC1416,Synology DS716 + II Pack | 8GB RAM | WD 8TB Network,Synology DS716 + II with 8GB of RAM memory + 8TB (2x4TB) WD Red for Mac and PC,889.89,0,12175397,Server
8527,PAC2383,Synology DS418 NAS Server | 2GB RAM | 48TB (4x12TB) Seagate Iron Wolf,NAS server 4 bays and 2GB of RAM DDR4 capable of transmitting H.265 video 4K,2424.95,0,12175397,Server
3144,PAC1215,QNAP Pack HS-251 + | WD 12TB Network,QNAP pack of 12TB (2x6TB) WD Hard Drives Network for Mac and PC.,908.99,0,12175397,Server

Looks like this category is full of servers.

I wonder how many `type`'s account for most of our products?

In [25]:
n = 30
print(f"With the {n} largest type's, we account for {((category_type_df.groupby('type').count().nlargest(n, 'sku')['sku'].sum()) / (category_type_df.shape[0]) * 100).round(2)}% of all products.")

With the 30 largest type's, we account for 78.4% of all products.

In [8]:
pd.set_option('display.max_rows', 1000)
pd.set_option("display.max_colwidth", 200)

Looks like we can simply investigate 30 types and set the categories, then the remaining 20% of products can have the category `other`.

Use the skills you learnt above to change the category for each type.

In [262]:
#category_type_df.loc[category_type_df['type'].isin(['24885185','24895185','24215399']), "category"] = "apple watch & accessories"
category_type_df.category.value_counts()

Apple Accessories                     3171
Gadget case                           1752
External/storage Device               1012
Servers                                939
iMac, ipod, ipad,  iphones, iwatch     868
New/Refurbished Macbook                731
Installation/Expansion/Upgrade kit     504
Monitor                                187
others                                 183
replacement parts & tools              139
Repair Service                         138
tablet & keyboard & accessories        117
Router                                 115
Back pack                               65
Surveillance camera                     50
miscellaneous gadgets                   21
Name: category, dtype: int64

In [233]:
category_type_df.loc[category_type_df["type"] == "24215399", :].sample(10)

,sku,name,desc,price,in_stock,type,category
2899,MOP0071,Mophie Charging Dock Apple Watch Silver,Charging Stand for Apple Watch.,69.95,0,24215399,Apple Accessories
4197,GRT0400,WatchStand Griffin Dock Charging Dock Apple Watch White,Charging Dock for Apple Watch,29.95,0,24215399,Apple Accessories
6428,ELA0018,Elago W3 Support Stand Vintage Apple Watch White,Charging stand with Macintosh Vintage design for Apple Watch,24.95,1,24215399,Apple Accessories
3826,SNA0065,Sena Leather Case Stand Apple Watch Black,charging base and leather carrying case for Apple Watch support.,79.95,1,24215399,Apple Accessories
3926,ELE0007,Elevation Lab Support Apple Watch Black Nightstand,Load bearing silicone Apple Watch,34.95,0,24215399,Apple Accessories
3695,NOM0016,Nomad Pod Battery Charging Dock Apple Watch Gray Silver,portable charging station and aluminum Apple Watch battery included.,59.95,0,24215399,Apple Accessories
3334,NAT0030,Native Union Anchor Base Load Apple Watch Dark Gray,Charging Dock for Apple Watch.,29.99,0,24215399,Apple Accessories
4691,ZAG0026,Zagg Mobile Charging Station charging base and battery 5000 mAh,Portable External Battery 5000mAh double USB port for Apple Watch and iPhone,79.99,0,24215399,Apple Accessories
7182,ELA0043,elago W4 Support Stand 1998 Vintage Aqua Blue Apple Watch,Vintage design support slot Charging Cable for Apple Watch,24.96,1,24215399,Apple Accessories
3458,NOM0014,Charging Dock Stand Nomad Apple Watch Gray Space,Load bearing aluminum Apple Watch.,69.95,0,24215399,Apple Accessories

In [218]:

##category_type_df.loc[category_type_df["type"] == "1405",'category':] = 'tablet & accessories'

In [260]:
category_type_df['category'].isna().sum()

0

In [261]:
category_type_df.category = category_type_df.category.fillna('Others')

In [10]:
category_type_df.loc[category_type_df['type'].isin(['11935397','57445397','12655397','1364']), "category"] = "External/storage Device"

In [254]:
category_type_df.loc[category_type_df['type'].isin(["12585395",'1298', '1229','1216','24215399','5720','8696','42945397',
                                                    '13555403','11905404','1515','12575403','13005399','12085400',
                                                    '1276','5399','21535407','1231','13615399','5405','2449','5395',
                                                    '12355400','1416','10142','14365395','14035403','1387',
                                                    '10230',"5398", '5384','24885185','24215399','1230','1325','2434']), "category"] = "Apple Accessories"

In [12]:

category_type_df.loc[category_type_df['type'].isin(['11865403','12635403','13835403',"5,49E+11",'5403']), "category"] = "Gadget case"

In [189]:
category_type_df.loc[category_type_df['type'].isin(["1,02E+12",'2158',"5,39E+11",'1282','9,29E+11','2,17E+11','21632158']), "category"] = "New/Refurbished Macbook"

In [146]:
category_type_df.loc[category_type_df["type"].isin (["1433",'12215397','14305406','12995397','12755395']),'category']=  'Installation/Expansion/Upgrade kit'

In [249]:
category_type_df.loc[category_type_df["type"].isin(["5,74E+15","2,16E+11",'118692158','5,43E+15','51882158',"11821715",'13621714',
                                                    '51871714','12141714','106431714','1714',
                                                    '51861714',"51601716",'85651716','24811716',
                       '113281716','113291716','85641716','1716','24821716','24895185']),'category'] = 'iMac,' ' ipod,' ' ipad' ',  iphones' ', iwatch'

In [16]:
category_type_df.loc[category_type_df["type"] == "1296",'category':] = 'Monitors'

In [224]:
#category_type_df.loc[category_type_df["type"] == "12645406" , "category" :] = 'Replacement tools'

In [197]:
#category_type_df.loc[category_type_df["type"].isin(["51601716",'85651716','24811716','113281716','113291716','85641716','1716','24821716']) , "category" ] = 'iphones'
#category_type_df

In [19]:
category_type_df.loc[category_type_df["type"] == "9094" ,"category" :] = 'Surveillance cameras'

In [299]:
category_type_df.loc[category_type_df["type"] == "1392", "category" :] = 'Back packs'

In [225]:
##category_type_df.loc[category_type_df["type"].isin(['1230','1325']), 'category']= 'Cable'

In [300]:
category_type_df.loc[category_type_df["type"].isin(["1,44E+11", '20642062']), "category" :] = 'Repair Services'

In [24]:
##category_type_df.loc[category_type_df["type"].isin(["5398", '5384']), "category" :] = 'listening device for apple products'

In [228]:
category_type_df.loc[category_type_df["type"] == "12175397", "category" :] = 'Servers'
12575403

12575403

In [81]:
#category_type_df.loc[category_type_df.desc.str.lower().str.contains("keyboard"), :]

In [244]:
category_type_df.loc[category_type_df["type"].isin(["13855401", '54025401','5401','1405']), "category":] = 'tablet & keyboard & accessories'
#category_type_df.loc[category_type_df["type"].isin(['1230','1325']), 'category']= 'cables'

In [80]:
12085400
category_type_df.loc[category_type_df["type"] == "12085400",:]

,sku,name,desc,price,in_stock,type,category
97,MAK0015,Stick Maclocks silver metal safely iPad,Security lock plate steel iPad.,49.99,0,12085400,Apple Accessories
1224,WHO0008,Whoosh DUO + ​​Cleanser 100ml + 8ml,Sprays cleaners Pack 2 screens.,19.99,0,12085400,Apple Accessories
2069,AST0007,Cleaning Spray pencil-astuce 6ml,Display Cleaner iPhone iPad iPod and Mac spray.,9.99,0,12085400,Apple Accessories
2070,AST0008,Astuce Spray 20ml cleaner form card,Display Cleaner iPhone iPad iPod and Mac spray.,12.99,0,12085400,Apple Accessories
2072,KEN0210,PresentAir Kensington Presenter Pro Bluetooth 4.0 LE,Bluetooth laser pointer.,59.99,0,12085400,Apple Accessories
9751,MTF0008,Mistify Clean Screens Natural 500ml.,Spray cleaning screens and keyboards.,14.99,1,12085400,Apple Accessories

In [108]:
category_type_df.loc[category_type_df["type"].isin(["5404", '1375']), 'category':] = 'miscellaneous gadgets'

In [238]:
54085407
category_type_df.loc[category_type_df["type"].isin(["54085407",'1424','101781405','21485407','12645406']), 'category':] = 'replacement parts & tools'

In [246]:

category_type_df.loc[category_type_df["type"] == "1334", "category" :] = 'Router'

In [240]:
category_type_df

,sku,name,desc,price,in_stock,type,category
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,1,8696,Apple Accessories
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,0,13855401,keyboard & accessories
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,0,1387,Apple Accessories
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,0,1230,Cable
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pro (2006/07/08).,34.99,1,1364,External/storage Device
...,...,...,...,...,...,...,...
9987,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horizontally for Apple Watch,29.99,1,12282,others
9988,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartments MacBook up to 13 inches up to 10 inches Cases,69.95,1,1392,Back pack
9989,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartments MacBook up to 13 inches up to 10 inches Cases,69.95,1,1392,Back pack
9990,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartments MacBook up to 13 inches up to 10 inches Cases,69.95,0,1392,Back pack
9991,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartments MacBook up to 13 inches up to 10 inches Cases,69.95,1,1392,Back pack

In [247]:
category_type_df.loc[category_type_df["category"] == "apple watch & accessories":]

AssertionError: ignored